{% extends 'base.html' %}
{% block content %}
{% load static %}

        
    <section class="hero-section row align-items-center mb-5">
        <div class="col-lg-6">
            <h1 class="display-1 hero-headline">Meet. Match. Move.</h1>
            <p class="lead mb-4">A fun, effortless way to meet real people nearby.</p>
            <div class="hero-ctas d-flex gap-3 justify-content-center">
                <button id ='cta1' class="btn btn-lg primary cta" onclick="openLink('profile/getstarted');">
                 Get Started
                </button>
                <button id ='cta2' class="btn btn-lg secondary cta"
                onclick="openLink('/connections/discover/');">
                    Browse Profiles
                </button>
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <div class="hero-visual-heart">
                <div class="abstract-shape shape-1"></div>
                <div class="abstract-shape shape-2"></div>
                <img src="{% static 'images/hero.png' %}" alt="Hero image" >
            </div>
        </div>
    </section>

    <hr class="soft-divider my-5">

    <section class="features-section ">
        <h2 class="text-center mb-5 feature-title">Why Match Up?</h2>
        <div class="row g-4">          
            <div class="col-md-4 card">
                <div class="feature-card coral-gradient card-body ">
                    <div class="feature-icon"><i class="fa-notdog fa-solid fa-heart"></i></div>
                    <h3 class="card-title">Swipe & Match</h3>
                    <p class="card-text">Quick, fun, carefree connections. No pressure, just good times.</p>
                </div>
            </div>
            
            <div class="col-md-4  card">
                <div class="feature-card peach-gradient card-body">
                    <div class="feature-icon"><i class="fa-duotone fa-solid fa-circle-user"></i></div>
                    <h3 class="card-title">Vibes First™</h3>
                    <p class="card-text">Mini quizzes show you who's on your wavelength. Compatibility matters.</p>
                </div>
            </div>

            <div class="col-md-4 card">
                <div class="feature-card pink-gradient card-body">
                    <div class="feature-icon"><i class="fa-notdog fa-solid fa-camera"></i></div>
                    <h3 class="card-title">Real People</h3>
                    <p class="card-text">Verified profiles with fun personality prompts. Say goodbye to bots.</p>
                </div>
            </div>

        </div>
    </section>

    <hr class="soft-divider my-5">

{% endblock content %}