{% extends 'base.html' %}
{% block content %}
{% load static %}


  <div class="row justify-content-center">
      <div class="auth-card col-lg-6 col-md-8">
        <div class="card-body">
          <h1 class="h4 mb-3 text-center">Edit Profile</h1>
          <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid">
              <button type="submit" class="btn btn-edit">
                Save profile
              </button>
              {% if request.user.profile and request.user.profile.pk %}
              <a href="{% url 'profile_detail' pk=request.user.profile.id %}" class="btn btn-edit">
                Return
              </a>
              {% else %}
                <a href="{% url 'home' %}" class="btn btn-edit">
                  Return
                </a>
              {% endif %}
            </div>
            </div>
          </form>
        </div>
      </div>

  </div>

{% endblock content %}