{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="container py-3">
    <section class="row">
        <div class="col-12">
            <h1>Profiles</h1>
            {% for profile in object_list %}
            <h2>{{profile.user.username}}</h2>
            <p>{{profile.bio}}</p>
            <p>Location: {{profile.location}}</p>
            <p>Interests: {{profile.interests}}</p>
            <p>Photo: {{profile.photo}}</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}
