* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}


.footer a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}